DB_DATA_PATH=./data
DB_ENCRYPTION_KEY=CHANGE_ME_min_32_chars_random_string_here_Use_openssl_rand
DB_ENCRYPTION_KEY_VERSION=v2-2026-06
# Generate key dengan: openssl rand -base64 48

# Jangan commit file .env asli ke git
DB_QUERY_LOGGING=false
DB_PERFORMANCE_MONITORING=false
APP_ENV=production
